body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
:root {
  --header-text-color: #212121;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --fourt-text-color: #ffffff;
  --title-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-infoto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-infoto:hover,
.header-infoto:focus {
  color: var(--accent-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--main-text-color);
}
.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.main-btn:hover,
.main-btn:focus {
  color: var(--accent-text-color);
}

.about-pre-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.abour-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.masters-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.master-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.en {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.hero-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--header-text-color);
}

.hero-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer-logo {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourt-text-color);
}
.button {
  color: var(--header-text-color);
  cursor: pointer;
}

.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-text-color);
}

.header-infoto:hover,
.header-infoto:focus {
  color: var(--accent-text-color);
}
